.btn {
  margin-top: 20px;
}

.meetingStatus {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.meetingStatus.recruiting {
  color: #fff;
  background-color: #007bff;
}

.meetingStatus.in-progress {
  color: #fff;
  background-color: #28a745;
}

.meetingStatus.completed {
  color: #fff;
  background-color: #dc3545;
}

p.title {
  font-weight: bolder;
  color: black;
  font-size: 1.7rem;
}

p.maxNum {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  color: #fff;
  background-color: #6c757d;
}
