.Meeting {
  width: 100%;
  text-align: center;
}

.Meeting .Calender {
  width: 80%;
  margin: 20px;
}

.Meeting .LoginForm {
  float: left;
  margin-top: 15%;
}

.Meeting .Catergory {
  margin-top: 5%;
  margin-left: 5%;
}

.Meeting .sort {
  float: right;
}

/* 일요일 날짜: 빨간색 */
.Meeting .Calender .fc-day-sun a {
  color: red;
}

/* 토요일 날짜: 파란색 */
.fc-day-sat a {
  color: blue;
}
