.Meeting {
  width: 100%;
  text-align: center;
}

.Calender {
  width: 60%;
  height: 30%;
  margin: auto;
}

.Meeting .Calender {
  width: 80%;
  height: 30%;
  margin: auto;
}

.Meeting .Catergory {
  margin-top: 5%;
  margin-left: 5%;
}

.meetingCreateForm {
  width: 30rem;
  margin: auto;
}

.sort {
  float: right;
}

.meetingList {
  border-style: solid;
  border-width: var(--primer-borderWidth-thin, 1px);
  border-color: #aaa7a7;
  margin-right: 30px;
  margin-top: -11px;
  margin-bottom: 10px;
  text-decoration: none;
}

.meetingList img {
  width: 200px;
  margin: 10px;
}

.meetingList .hashTag {
  display: inline-block;
}

.meetingList P {
  margin: 0.8em;
}

.attendanceBar {
  width: 200px;
}

.member {
  border: 1px solid grey;
  display: inline-flex;
  margin: 3px;
  padding: 2px;
}

.member img {
  width: 80px;
  border-radius: 50%;
}

.member .attendanceBar {
  margin-left: 10px;
  margin-top: 8%;
  width: 12rem;
  height: 1.3rem;
}

/* 일요일 날짜: 빨간색 */
.Meeting .Calender .fc-day-sun a {
  color: red;
}

/* 토요일 날짜: 파란색 */
.fc-day-sat a {
  color: blue;
}

.LoginForm {
  border: 1px solid black;
}
