.Header {
  width: 100%;
  margin: 20px auto;
  text-align: center;
}

.Header .Header-logo {
  width: 60%;
  height: 150px;
}

.Header .Header-button {
  border: 2px solid grey;
  float: left;
}

.Header .LoginJoin {
  border: 2px solid grey;
  float: right;
}

.Navigation {
  width: 100%;
  margin: 20px auto;
  text-align: center;
}

.Navigation .Header-button {
  border: 2px solid grey;
  float: left;
}

.Navigation .LoginJoin {
  border: 2px solid grey;
  float: right;
}

.footer {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-family: "Dongle", sans-serif;

  font-size: larger;
}
.footersection {
  height: 300px;
  background: #171717;
  color: #ffffff;
  font-size: 30px;

  padding-top: 20px;
  padding-bottom: 20px;
}

.li1 {

  color: black;
}